<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
    window.onload = function() {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Line Chart"
            },
            axisX: {
                interval: 10
            },
            data: [{
                type: "line",
                dataPoints: [
                  { x: 10, y: 45 },
                  { x: 20, y: 14 },
                  { x: 30, y: 20 },
                  { x: 40, y: 60 },
                  { x: 50, y: 50 },
                  { x: 60, y: 80 },
                  { x: 70, y: 40 },
                  { x: 80, y: 60 },
                  { x: 90, y: 10 },
                  { x: 100, y: 50 },
                  { x: 110, y: 40 },
                  { x: 120, y: 14 },
                  { x: 130, y: 70 },
                  { x: 140, y: 40 },
                  { x: 150, y: 90 },
                ]
            }]
        });
        chart.render();
    }
    </script>
    <script src="canvasjs.min.js"></script>
    
    <meta charset="utf-8"> 
    <title> Enrironmental Monitoring </title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="Chart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <style>
            body {
                background-color: Beige;
                padding-left: 15px;
            }

            h1 {
                color: Gray;
                text-align: center;
                
            }

            p {
                color: #FCA205;
                font-family: 'Lobster';
                font-size: 20px;
            }

            <li><a href="#identifier" data-toggle="tab">Home</a></li>
            
        </style>
        
    
    
    
</head>

<body>
    <h1>CO2 Conc.</h1>
    <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    Home !
                </a>
            </li>
            
            <li><a href="#S1" data-toggle="tab">Sensor 1</a></li>
            <li><a href="#S2" data-toggle="tab">Sensor 2</a></li>
            <li><a href="#S3" data-toggle="tab">Sensor 3</a></li>
            <li><a href="#S4" data-toggle="tab">Sensor 4</a></li>
            <li><a href="#S5" data-toggle="tab">Sensor 5</a></li>
            <li><a href="#S6" data-toggle="tab">Sensor 6</a></li>
            <li><a href="#S7" data-toggle="tab">Sensor 7</a></li>
            <li><a href="#S8" data-toggle="tab">Sensor 8</a></li>
            <li><a href="#S9" data-toggle="tab">Sensor 9</a></li>
        </ul>
        <br>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <p>這是白舞菇監測網站首頁</p>
            </div>
            <div class="tab-pane fade" id="S1">
                <p>這是 Sensor 1 RRRRR</p>
            </div>
            <div class="tab-pane fade" id="S2">
                <p>Sensor 2 ~~~~~</p>
            </div>
            <div class="tab-pane fade" id="S3">
                <p>Sensor 33333 </p>
            </div>
            <div class="tab-pane fade" id="S4">
                <p>Sensor -- 4 -- </p>
            </div>
            <div class="tab-pane fade" id="S5">
                <p> Give me FIVE </p>
            </div>
            <div class="tab-pane fade" id="S6">
                <p> 666666 </p>
            </div>
            <div class="tab-pane fade" id="S7">
                <p>Sensor 7 </p>
            </div>
            <div class="tab-pane fade" id="S8">
                <p> 設備 8888 </p>
            </div>
            <div class="tab-pane fade" id="S9">
                <p> 最後一台！ </p>
            </div>
        </div>
        <br><br>
        
        <div style="background-image:url(http://s6.gigacircle.com/media/s6_53e8bc171636a.jpg);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
        
        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        
        <p>Database </p>
        <table class="table table-striped">
        <thead>
            <tr>
              <th>Sensor</th>
              <th>Type</th>
              <th>Time</th>
              <th>Data</th>
            </tr>
        </thead>
        
        <tbody>
        {% for r in article_list %}
        <table class="table table-striped">
            <tr>
                <td rowspan="3"> {{r.Sensor}} </td>
                <td> {{r.Tpye}} </td>
                <td> {{r.Time}} </td>  
                <td> {{r.Data}} </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
        
        
</body>

</html>
