<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"> 
    <title> Enrironmental Monitoring </title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        body {
            background-color: Beige;
            padding-left: 15px;
        }

        h1 {
            color: Gray;
            text-align: center;
        }

        p {
            color: #FCA205;
            font-family: 'Lobster';
            font-size: 20px;
        }
        

        <li><a href="#identifier" data-toggle="tab">Home</a></li>
        
    </style>
    

    <!-- this is about highcharts -->
    <script>
        var interval_sec = 5;
            
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
        
            Highcharts.chart('container', {
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {
        
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            var series1 = this.series[1];
                            
                            (function fetch_updates() {
                              $.ajax({
                                url: '/du', 
                                success: function(data) {
                                  //~ $('.result').html(data);
                                  //~ console.log(typeof(data));
                                  console.log(data);
                                  //~ var x = (new Date()).getTime(); // current time
                                  var x = Math.round(data.Time * 1000);
                                  console.log(x);
                                  series.addPoint([x, Math.random() * data.CO2], true, true);
                                },
                                complete: function() {
                                  // Schedule the next request when the current one's complete
                                  setTimeout(fetch_updates, 1000 * interval_sec);
                                }
                              });
                            })();
                            
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                    y = Math.random(),
                                    y1 = Math.random() * 440;
                                console.log("Time: ");
                                console.log(x);
                                console.log("y1: ");
                                console.log(y1);
                                //~ series.addPoint([x, y], true, true);
                                series1.addPoint([x, y1], true, true);
                            }, 1000 * interval_sec);
                        }
                    }
                },
                title: {
                    text: 'Live random data'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        },
                        {
                            value: 0,
                            width: 1,
                            color: '#080808'
                        }
                    ]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Random data: CO2',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
            
                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 1000 * interval_sec,
                                    //~ y: Math.random()
                                    y: 0
                                });
                            }
                            return data;
                        }())
                    },
                    {
                        name: 'Random data: Temprature',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
            
                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 1000 * interval_sec,
                                    //~ y: Math.random()
                                    y: 0
                                });
                            }
                            return data;
                        }())
                    }
                ]
            });
        });
    </script>
</head>

<body>
    <h1>CO2 Conc.</h1>
    <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    Home !
                </a>
            </li>

            <li><a href="#S01" data-toggle="tab">Sensor 01 ~ 03</a></li>
            <li><a href="#S04" data-toggle="tab">Sensor 04 ~ 06</a></li>
            <li><a href="#S07" data-toggle="tab">Sensor 07 ~ 09</a></li>
            <li><a href="#S10" data-toggle="tab">Sensor 10 ~ 12</a></li>
            <li><a href="#S13" data-toggle="tab">Sensor 13 ~ 15</a></li>
            
        </ul>
        <br>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <p> 這是監測網站首頁 </p>                
                
                <!-- this is the place of picture -->
                <div style="background-image:url(https://ppt.cc/fH15zx@.jpg);background-position:center top;width:800px;height:500px;background-repeat:no-repeat;"></div>
                
            </div>
 
            <div class="tab-pane fade" id="S01">
                <p>這是 Sensor 01~03 </p>
                
                <!-- this is about highchart -->
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                
                <div style="background-image:url(R1.gif);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
                
            </div>
            <div class="tab-pane fade" id="S04">
                <p>Sensor 04~06</p>
                <div style="background-image:url(http://s6.gigacircle.com/media/s6_53e8bc171636a.jpg);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
            </div>
            
            <div class="tab-pane fade" id="S07">
                <p>Sensor 07~09 </p>
                <div style="background-image:url(http://s6.gigacircle.com/media/s6_53e8bc171636a.jpg);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
            </div>
            
            <div class="tab-pane fade" id="S10">
                <p>Sensor 10~12 </p>
                <div style="background-image:url(http://s6.gigacircle.com/media/s6_53e8bc171636a.jpg);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
            </div>
            
            <div class="tab-pane fade" id="S13">
                <p>Sensor 13~15 </p>
                <div style="background-image:url(http://s6.gigacircle.com/media/s6_53e8bc171636a.jpg);background-position:center top;width:500px;height:300px;background-repeat:no-repeat;"></div>
            </div>
                
<!--
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Sensor</th>
                      <th>Type</th>
                      <th>Time</th>
                      <th>Data</th>
                    </tr>
                </thead>
                

                <tbody>
                    {% for r in article_list %}
                    <table class="table table-striped">
                        <tr>   
                            <td rowspan="3"> {{r.Sensor}} </td>
                            <td> {{r.Tpye}} </td>
                            <td> {{r.Time}} </td>  
                            <td> {{r.Data}} </td>
                        </tr>
                    {% endfor %}
                 </tbody>
-->
            </table>
            </div>
        </div>
        <br><br>

</body>

</html>
